<div class="row clearfix">
    <div class="col-md-12 column">
        <button type="button" class="btn btn-default btn-primary" id="addCateBtn">添加分类</button>
        <table class="table">
            <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    名称
                </th>
                <th>
                    更新时间
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            <?categories.forEach(function(item){?>
            <tr>
                <td>
                    <?=item.Id?>
                </td>
                <td>
                    <?=item.Name?>
                </td>
                <td>
                    <?=formatDate(item.UpdatedDate)?>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-warning" data-id="<?=item.Id?>" data-name="<?=item.Name?>" id="editCateBtn_<?=item.Id?>">编辑</button>
                    <button type="button" class="btn btn-default btn-danger" data-id="<?=item.Id?>" id="delCateBtn_<?=item.Id?>">删除</button>
                </td>
            </tr>
            <?})?>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addCategoryModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="categoryNameValue">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submitCateBtn">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="elertModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger">
               分类名称不能为空！
            </div>
        </div>
    </div>
</div>
<script>
    $("#addCateBtn").on("click",function () {
        $("#myModalLabel").html("新增分类");
        $("#addCategoryModal").modal('toggle');

    });
    $("#addCategoryModal").on("show.bs.modal",function(){

    });
    $("#submitCateBtn").on("click",function(){
        var value=$("#categoryNameValue").val();
        var id=$("#categoryNameValue").attr("data-id");
        if(value==""){
            $("#elertModal").modal("show");
            return false;
        }
        var data={name:value,id:id};
        var url=id?'/admin/category/editCategory':'/admin/category/addCategory'
        $.ajax({
            type : 'POST',
            url : url,
            data : data,
            success : function(data) {
                $("#categoryNameValue").val("");
                $("#addCategoryModal").modal("hide");

            }
        });

    });
    $("[id^='editCateBtn_']").on("click",function(){
        $("#myModalLabel").html("编辑分类");
        var id=$(this).attr("data-id");
        var name=$(this).attr("data-name");
        $("#addCategoryModal").modal('toggle');
        $("#categoryNameValue").val(name);
        $("#categoryNameValue").attr("data-id",id);
    });
    $("[id^='delCateBtn_']").on("click",function(){
        var id=$(this).attr("data-id");
        $.ajax({
            type : 'POST',
            url : '/admin/category/delCategory',
            data : {id:id},
            success : function(data) {
                $.pjax.reload("#content-main");
            }
        });
    });
</script>
