<div class="row clearfix">
    <div class="col-md-12 column">
        <button type="button" class="btn btn-default btn-primary">添加分类</button>
        <table class="table">
            <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    名称
                </th>
                <th>
                    更新时间
                </th>
            </tr>
            </thead>
            <tbody>
            <?categories.each(function(item){?>

            <?})?>
            </tbody>
        </table>
    </div>
</div>