<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jayce</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/static/home/css/min/public.min.css" />
	<link rel="stylesheet" href="/static/home/css/min/index.min.css" />
</head>
<body>
	<div id="header">
		<a href="/" title="Jayce">Jayce的小站</a>
		<ul id="nav">
			<?allCategory.forEach(function(item){?>
			<li>
				<a href="/home/index/index/type/list/id/<?=item.id?>/path/<?=item.path?>" title="<?=item.name?>" <?if(item.id==markId){?>class="active"<?}?>>
					<?=item.name?>
				</a>
			</li>
			<?})?>
		</ul>
	</div>
	<div id="main">
		<div class="content">
			<h1 style="margin-bottom:30px;text-align:center;">
				<?=title?>
			</h1>
			<div class="sinaIcon">
				<a href="http://weibo.com/u/5285734781" title="新浪微博" target="_blank">
					<i class="iconfont">&#xe600;</i>
				</a>
			</div>
			<?if(type==="all"){?>
				<?indexList.forEach(function(item){?>
					<?item.forEach(function(vl){?>
						<div class="contentList">
							<h2 class="cTitle">
								<a href="/home/index/detial/id/<?=vl.id?>/path/<?=vl.id?>" title="<?=vl.name?>">
									<?=vl.name?>
								</a>
							</h2>
							<h4 class="cTime"><?=vl.date?></h4>
							<div class="detial">
								<p>
									<?=vl.brief?>
								</p>
							</div>
							<a href="/home/index/detial/id/<?=vl.id?>/path/<?=vl.id?>" title="阅读全文" class="readAll">阅读全文</a>
							<span class="readNumber">阅读:<?=vl.click?></span>
						</div>
					<?})?>
				<?})?>
			<?}else if(type==="list"){?>
				<?indexList.forEach(function(item){?>
					<div class="contentList">
						<h2 class="cTitle">
							<a href="/home/index/detial/id/<?=item.id?>/path/<?=item.id?>" title="<?=item.name?>">
								<?=item.name?>
							</a>
						</h2>
						<h4 class="cTime"><?=item.date?></h4>
						<div class="detial">
							<p>
								<?=item.brief?>
							</p>
						</div>
						<a href="/home/index/detial/id/<?=item.id?>/path/<?=item.id?>" title="阅读全文" class="readAll">阅读全文</a>
						<span class="readNumber">阅读:<?=item.click?></span>
					</div>
				<?})?>
			<?}?>
		</div>
	</div>
	<script type="text/javascript" src="/static/home/js/min/public.min.js"></script>
</body>
</html>